.toggle-checkbox {
  display: none;
}

.toggle-switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: bisque;
  margin-inline: 30px;
  cursor: pointer;
  position: relative;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  background-color: azure;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + label {
  background-color: brown;
}

.toggle-checkbox:checked + label::before {
  transform: translateX(20px);
}
