.signUpWrapper {
  background-image: url("../../../src/Images/gym-clipart-set.jpg");

  background-size: contain;

  background-blend-mode: color-burn;

  background-color: var(--light-red);

  display: flex;
  justify-content: space-around;
  margin: 100px 100px;
  padding: 100px 170px;
  box-shadow: rgba(166, 166, 166, 0.567) 0px 4px 41px;
}

.signUpMain {
  display: block;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  width: 400px;
}

.signUpForm {
  margin-left: 100px;
}

.signUpForm input {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.signUpForm button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;

  border-radius: 3px;
}

.catchPhrase {
  color: var(--white);
}

.catchPhrase h2 {
  font-size: 57px;
  text-align: left;
}

.tryButton {
  display: block;

  padding: 15px;

  border-radius: 3px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}
