:root {
  --turquoise: #4abebd;
  --opaque: #2bb3b1;
  --dark-white: #fafafa;
  --white: #ffffff;
  --light-green: #bfdf32;
  --light-yellow: #fdf039b6;

  --red: #ad6b70;
  --light-red: #ff787a;
  --yellow: #ffc803b6;
  --grey: #cdcccc;
  --purple: #5d55a2;
  --dark-green: #36cc8b;
  --grey-pink: #ede6e6f5;
}

body {
  background-color: var(--grey-pink);
}
