.courseBody {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1456%26quot%3b)' fill='none'%3e%3ccircle r='56.89243617653158' cx='1218.67' cy='403.43' fill='rgba(64%2c 224%2c 208%2c 1)'%3e%3c/circle%3e%3ccircle r='73.28708046000509' cx='917.89' cy='436.41' fill='rgba(212%2c 233%2c 232%2c 1)'%3e%3c/circle%3e%3cpath d='M118.5 45.56a5.6 5.6 0 1 0-8.88-6.82 5.6 5.6 0 1 0 8.88 6.82zM105.81 35.81a5.6 5.6 0 1 0-8.88-6.82 5.6 5.6 0 1 0 8.88 6.82zM93.12 26.07a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM80.43 16.33a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM153.63 52.35a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM140.94 42.61a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM128.25 32.86a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM115.55 23.12a5.6 5.6 0 1 0-8.88-6.82 5.6 5.6 0 1 0 8.88 6.82zM188.76 59.14a5.6 5.6 0 1 0-8.89-6.82 5.6 5.6 0 1 0 8.89 6.82zM176.06 49.4a5.6 5.6 0 1 0-8.88-6.82 5.6 5.6 0 1 0 8.88 6.82zM163.37 39.66a5.6 5.6 0 1 0-8.88-6.82 5.6 5.6 0 1 0 8.88 6.82zM150.68 29.91a5.6 5.6 0 1 0-8.88-6.81 5.6 5.6 0 1 0 8.88 6.81z' fill='rgba(212%2c 233%2c 232%2c 1)'%3e%3c/path%3e%3crect width='132.79999999999998' height='132.79999999999998' clip-path='url(%26quot%3b%23SvgjsClipPath1457%26quot%3b)' x='718.82' y='449.92' fill='url(%26quot%3b%23SvgjsPattern1458%26quot%3b)' transform='rotate(222.76%2c 785.22%2c 516.32)'%3e%3c/rect%3e%3crect width='120' height='120' clip-path='url(%26quot%3b%23SvgjsClipPath1459%26quot%3b)' x='628.71' y='-25.67' fill='url(%26quot%3b%23SvgjsPattern1460%26quot%3b)' transform='rotate(220.36%2c 688.71%2c 34.33)'%3e%3c/rect%3e%3crect width='155.04' height='155.04' clip-path='url(%26quot%3b%23SvgjsClipPath1461%26quot%3b)' x='1273.86' y='375.76' fill='url(%26quot%3b%23SvgjsPattern1462%26quot%3b)' transform='rotate(211.27%2c 1351.38%2c 453.28)'%3e%3c/rect%3e%3cpath d='M280.37 191.75a5.6 5.6 0 1 0 11.12 1.37 5.6 5.6 0 1 0-11.12-1.37zM296.25 193.71a5.6 5.6 0 1 0 11.11 1.37 5.6 5.6 0 1 0-11.11-1.37zM312.13 195.67a5.6 5.6 0 1 0 11.11 1.37 5.6 5.6 0 1 0-11.11-1.37zM328.01 197.63a5.6 5.6 0 1 0 11.11 1.37 5.6 5.6 0 1 0-11.11-1.37z' fill='rgba(255%2c 201%2c 67%2c 1)'%3e%3c/path%3e%3crect width='340.08' height='340.08' clip-path='url(%26quot%3b%23SvgjsClipPath1463%26quot%3b)' x='672.17' y='313.7' fill='url(%26quot%3b%23SvgjsPattern1464%26quot%3b)' transform='rotate(168.9%2c 842.21%2c 483.74)'%3e%3c/rect%3e%3cpath d='M54.55 321.99 L87.2 424.47L21.173111321154487 422.93188867884555z' fill='rgba(212%2c 233%2c 232%2c 1)'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1465%26quot%3b)' x='906.42' y='272.76' fill='url(%26quot%3b%23SvgjsPattern1466%26quot%3b)' transform='rotate(329.49%2c 936.42%2c 302.76)'%3e%3c/rect%3e%3ccircle r='63.33051944567656' cx='179.43' cy='537.86' fill='rgba(64%2c 224%2c 208%2c 1)'%3e%3c/circle%3e%3cpath d='M916.77 542.53L927.45 535.46 936.69 544.32 947.37 537.25 956.61 546.12 967.28 539.05 976.53 547.91M916.05 550.49L926.73 543.42 935.97 552.29 946.65 545.22 955.89 554.09 966.57 547.02 975.81 555.88M915.33 558.46L926.01 551.39 935.25 560.26 945.93 553.19 955.17 562.05 965.85 554.98 975.09 563.85' stroke='rgba(64%2c 224%2c 208%2c 1)' stroke-width='2.56' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1456'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.28' height='13.28' patternUnits='userSpaceOnUse' id='SvgjsPattern1458'%3e%3cpath d='M0 13.28L6.64 0L13.28 13.28' stroke='rgba(255%2c 201%2c 67%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1457'%3e%3ccircle r='33.199999999999996' cx='785.22' cy='516.32'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1460'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(212%2c 233%2c 232%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1459'%3e%3ccircle r='30' cx='688.71' cy='34.33'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6.46' height='6.46' patternUnits='userSpaceOnUse' id='SvgjsPattern1462'%3e%3cpath d='M3.23 1L3.23 5.46M1 3.23L5.46 3.23' stroke='rgba(255%2c 201%2c 67%2c 1)' fill='none' stroke-width='1.27'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1461'%3e%3ccircle r='38.76' cx='1351.38' cy='453.28'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='340.08' height='13.08' patternUnits='userSpaceOnUse' id='SvgjsPattern1464'%3e%3crect width='340.08' height='6.54' x='0' y='0' fill='rgba(212%2c 233%2c 232%2c 1)'%3e%3c/rect%3e%3crect width='340.08' height='6.54' x='0' y='6.54' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1463'%3e%3ccircle r='85.02' cx='842.21' cy='483.74'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1466'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(212%2c 233%2c 232%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1465'%3e%3ccircle r='15' cx='936.42' cy='302.76'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.courses h1,
h2 {
  text-align: center;
}

.wrapper {
  background-color: var(--dark-white);
  padding: 30px 90px 109px 90px;
  display: block;
  margin-inline: 100px;
  margin-top: 50px;
  margin-bottom: 75px;

  box-shadow: rgba(166, 166, 166, 0.567) 0px 4px 41px;
  background-color: white;
}

.boxes {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  row-gap: 10%;
  column-gap: 5%;
}

.boxOne,
.boxTwo,
.boxThree,
.boxFour {
  box-shadow: rgba(106, 140, 157, 0.24) 2px 8px 13px;
  border-radius: 5px;
}

.boxOne {
  position: relative;
  bottom: -62%;

  border-top: 5px solid var(--turquoise);
}

.boxTwo {
  border-top: 5px solid var(--red);
}

.boxThree {
  position: relative;
  bottom: -62%;
  border-top: 5px solid var(--opaque);
}
.boxFour {
  grid-column: 2;
  border-top: 5px solid var(--yellow);
}
.boxes > div {
  padding: 10px 30px 100px 24px;
  width: auto;
}

.courses p {
  color: rgb(194, 193, 193);
}

@media (max-width: 1300px) {
  .boxes {
    display: block;
  }
  .boxOne,
  .boxTwo,
  .boxThree,
  .boxFour {
    margin-bottom: 30px;
  }
}
